
.dropcontainer {
    position:relative;
    font-size: 14px;
    color: #555;
}

.trigger {
    color: #555;
    padding: 10px;
    font-size: 14px;
    background: #fff url(/assets/dropdown.png) 98% center no-repeat;
    background-size: 5%;
    border-radius: 4px;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.trigger:hover {
    background: #fff url(/assets/dropdown.png) 98% center no-repeat;
    color: #555;
    background-size: 5%;
}

.trigger:focus {
    color: #555;
    text-decoration: none;
}

.activetrigger {
    color: #555;
    padding: 10px;
    font-size: 14px;
    width:100%;
    background: #f5f5f5 url(/assets/dropdown.png) 98% center no-repeat;
    background-size: 5%;
    border-top-radius: 4px;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.activetrigger:hover {
    background: #f5f5f5 url(/assets/dropdown.png) 98% center no-repeat;
    background-size: 5%;
    color: #fff;
}

.activetrigger:active {
    background: #f5f5f5 url(/assets/dropdown.png) 98% center no-repeat;
    background-size: 5%;
    color: #555;
}

.activetrigger:focus {
    color: #555;
    text-decoration: none;
}

.dropcontainer ul {
    font-size: 14px;
    border: 1px solid #ccc;
    border-top: none;
    background: #fff;
    border-bottom-radius: 4px;
    list-style-type: none;
    padding: 10px;
    margin: 0;
    width: 100%;
    z-index: 100;
    box-sizing: border-box;
}

.dropcontainer ul li {
    padding: 5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.dropcontainer ul li a {
    color: #555;
}

.dropcontainer ul li:hover {
    background: #f5f5f5;
    outline: none;
}

.dropcontainer ul li:first-child {
    display: none;
}

.dropcontainer ul li:last-child {
    border-bottom: none;
}

.dropdownhidden {
    display: none;
}

.dropdownvisible {
    height: auto;
}

.dropdownvisible {
    height: 200px;
    overflow-y: scroll;
}
