.thredded--main-container {
    background-image: url(/assets/forumBackground.png);
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    padding: 5em;
    min-height: 70vh;
}

.thredded--preferences {
    background:none;
}

.thredded--preferences--messageboards-nav--item.thredded--messageboard {
    color: #FFF;
}

.thredded--preferences--messageboards-nav--item.thredded--messageboard:hover {
    color: #FFF;
}

.thredded--topic-unread > .thredded--topics--posts-count {
    background: #3244b3;
}

.thredded--navigation--search {
    position: relative;
}


.thredded--navigation, .thredded--main-section, .thredded--topics, .thredded--alert-info, .thredded--flash-message--notice {
    max-width: 60%;
}

.thredded--messageboard--menu{
    display: inline-block;
}

.thredded--messageboards-group {
    display: table;
}

.thredded--messageboard {
    background-color: rgba(50, 48, 70, 0.6);
    margin: 0px;
}

.thredded--messageboard:hover {
    background-color: rgba(50, 48, 70, 0.7);
    margin: 0px;
}

.thredded--messageboard--title {
    color: #eeeeee;
}

.thredded--topics {
    display: inline-block;
    vertical-align: top;
    margin: 25px 60px;
    min-width: 50%;
}

.thredded--form .thredded--navigation--search input[type="search"], .thredded--navigation--search-topics input[type="search"], .thredded--navigation--search--right input[type="search"]{
    background-color: white;
    margin-left: 2px;
    text-align: left;
}

.thredded--post-moderation-actions, .thredded--messageboards--actions {
    text-align: left;
}
.thredded--messageboard, .thredded--messageboard:focus, .thredded--messageboard:hover, .thredded--messageboard:active {
    border: none;
}


.thredded--post {
    margin-left: 15px;
    position: relative;
    padding: 20px;
    background: rgba(255, 255, 255, 0.72);
    border-radius: 10px;
    -webkit-filter: drop-shadow(0 0 40px rgba(0,0,0,0.25));
}

.thredded--post:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 12px 22px 12px 0;
    border-color: transparent rgba(255, 254, 254, 0.72);
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -12px;
    left: -22px;
    top: 40px;
}

.thredded--post--avatar {
    left: -5rem;
    top: 1.1rem;
}

.thredded--alert-danger, .thredded--flash-message--error {
    border-color: #fbd1d5;
}

.thredded--button, .thredded--form--submit {
    background-color: #A1201D;
    color: white;
    font-size: 16px;
    min-width: 120px;
}

.thredded--button:hover, .thredded--button, .thredded--form--submit:hover {
    background-color: #781f1c;
}

.thredded--table {
    background: rgba(255, 255, 255, 0.72);
}

.thredded--moderation-navigation--items {
    background: rgba(83, 86, 101, 0.64);
}

.thredded--moderation-navigation--item a {
    padding: 15px;
    color: #FFF;
}

.thredded--user-navigation--item.thredded--is-current, .thredded--pending-moderation .thredded--moderation-navigation--pending, .thredded--moderation-history .thredded--moderation-navigation--history, .thredded--moderation-users .thredded--moderation-navigation--users, .thredded--moderation-user .thredded--moderation-navigation--users, .thredded--moderation-activity .thredded--moderation-navigation--activity, .thredded--user-navigation, .thredded--moderation-navigation--items {
    border-bottom: none;
}

.thredded--user-navigation--item.thredded--is-current a, .thredded--pending-moderation .thredded--moderation-navigation--pending a, .thredded--moderation-history .thredded--moderation-navigation--history a, .thredded--moderation-users .thredded--moderation-navigation--users a, .thredded--moderation-user .thredded--moderation-navigation--users a, .thredded--moderation-activity .thredded--moderation-navigation--activity a {
    color: #FFF;
    font-weight: bold;
}

.thredded--nav-text {
    color: rgb(44, 38, 41);
    font-weight: normal;;
}

.thredded--post--dropdown--toggle, .thredded--post--dropdown--toggle:hover {
    color: #6f6f6f;
}

.thredded--post--dropdown:hover .thredded--post--dropdown--toggle {
    color: #424242;
}

.thredded--user-navigation--item a:active, .thredded--moderation-navigation--item a:active, .thredded--navigation-breadcrumbs a:active, .thredded--user-navigation--item a:focus, .thredded--moderation-navigation--item a:focus, .thredded--navigation-breadcrumbs a:focus, .thredded--user-navigation--item a:hover, .thredded--moderation-navigation--item a:hover, .thredded--navigation-breadcrumbs a:hover {
    color: #000;
}

.thredded--post--dropdown--actions--item:active, .thredded--post--dropdown--actions--item:focus, .thredded--post--dropdown--actions--item:hover, form.button_to > .thredded--post--dropdown--actions--item:active, form.button_to > .thredded--post--dropdown--actions--item:focus, form.button_to > .thredded--post--dropdown--actions--item:hover {
    color: rgba(0, 0, 0, 0.87);
    background-color: #d8d8d8;
}

.thredded--topic-header--follow-info form input[type=submit], .thredded--topic-header--follow-info form button  {
    display: inline-block;
    padding: 6px 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #251c63;
    color: white;
    min-width: 120px;
    min-height: 50px;
}

.thredded--topic-header--follow-info form input[type=submit]:hover, .thredded--topic-header--follow-info form button:hover, .thredded--topic-header--follow-info form input[type=submit]:focus, .thredded--topic-header--follow-info form button:focus  {
    background-color: #1d1548;
    color: white;
}

.thredded--topic-header--follow-info form {
    position: relative;
}
.thredded--topic-header--follow-info--reason {
    display: block;
}

button > .thredded--topic-header--follow-icon {
    color: #FFF;
    opacity:0.9;
    padding: 0 2px 1px;
    margin: 0 1px;
}

.thredded--topics--topic {
    background: rgba(255, 255, 255, 0.72);
    padding: 10px;
}

.thredded--topic-read > .thredded--topics--posts-count {
    margin: 10px 30px 10px 0;
}

.thredded--navigation--search input[type="search"]:hover:not(:focus)::-webkit-input-placeholder {
    color: #262626;
}

.thredded--post-moderation-record--moderation-state-notice a, .thredded--post-moderation-record--content-changed-notice a, .thredded--link, .thredded--messageboard, .thredded--post--user a, .thredded--post--topic a, .thredded--post--user-and-topic a, .thredded--post--content a, .thredded--topic-header--participants--participant > a, .thredded--topic-header--started-by a, .thredded--topic-header--edit-topic, .thredded--topics--title a, .thredded--topics--started-by a, .thredded--topics--updated-by a {
    color: #251c63;
}

.thredded--post-moderation-record--moderation-state-notice a:active, .thredded--post-moderation-record--content-changed-notice a:active, .thredded--link:active, .thredded--messageboard:active, .thredded--post--user a:active, .thredded--post--topic a:active, .thredded--post--user-and-topic a:active, .thredded--post--content a:active, .thredded--topic-header--participants--participant > a:active, .thredded--topic-header--started-by a:active, .thredded--topic-header--edit-topic:active, .thredded--topics--title a:active, .thredded--topics--started-by a:active, .thredded--topics--updated-by a:active, .thredded--post-moderation-record--moderation-state-notice a:focus, .thredded--post-moderation-record--content-changed-notice a:focus, .thredded--link:focus, .thredded--messageboard:focus, .thredded--post--user a:focus, .thredded--post--topic a:focus, .thredded--post--user-and-topic a:focus, .thredded--post--content a:focus, .thredded--topic-header--participants--participant > a:focus, .thredded--topic-header--started-by a:focus, .thredded--topic-header--edit-topic:focus, .thredded--topics--title a:focus, .thredded--topics--started-by a:focus, .thredded--topics--updated-by a:focus, .thredded--post-moderation-record--moderation-state-notice a:hover, .thredded--post-moderation-record--content-changed-notice a:hover, .thredded--link:hover, .thredded--messageboard:hover, .thredded--post--user a:hover, .thredded--post--topic a:hover, .thredded--post--user-and-topic a:hover, .thredded--post--content a:hover, .thredded--topic-header--participants--participant > a:hover, .thredded--topic-header--started-by a:hover, .thredded--topic-header--edit-topic:hover, .thredded--topics--title a:hover, .thredded--topics--started-by a:hover, .thredded--topics--updated-by a:hover {
    color: #0d076a;
}

.thredded--post--dropdown--actions{
    margin-top: -2.875rem;
}

.votes {
    position: absolute;
    top: 45px;
}

.upvote-submit, .downvote-submit {
    border:none;
    background:none;
}

.upvote-submit:focus, .downvote-submit:focus {
    outline:0;
}

.upvote-icon, .downvote-icon {
    color: #959595;
}

.upvote-icon.upvoted {
    color: #f5a841;
}

.downvote-icon.downvoted {
    color: #64b3df;
}

.score {
    padding: 0px 10px;
}

.thredded--post--content {
    padding-left: 55px;
    margin-top: -10px;
}

.thredded--blockquote, .thredded--post--content blockquote {
    border-left-color: #959595;
    background: rgba(255, 255, 255, 0.72);
    width: 95%;
}

.thredded--messageboard--title {
    margin: 0px;
    padding: 0px;
}

.thredded--alert-success, .thredded--flash-message--success {
    max-width: 30%;
    background: #52a352;
    border:none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
}

.thredded--alert-danger, .thredded--flash-message--error {
    max-width: 30%;
    background: #A1201D;
    border:none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
}

.thredded--alert-info, .thredded--flash-message--notice {
    max-width: 30%;
    background: #2a77ff;
    border:none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
}
