#coming-soon h1, .action h2.ourGoal, .who-we-are h2{
    font-size: 55px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Effra';
    margin-bottom: 10px;
}

.signup-header {
    margin-bottom: 160px;
}

.who-we-are h2 {
    margin: 0px;
    padding: 0px;
}

.titleNavigatingToCanada {
    color: #f6f6f6;
}

.title-line {
    margin-bottom: 60px;
}

.title-container {
    margin: 100px 0 100px;
}

.text-border {
    margin: 100px 0 30px 0;
}
.banner {
    text-align:center;
}

.banner h1 {
    font-family: 'Effra';
    font-size: 35px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
}

.banner h1 .welcome {
    font-size: 28px;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0 10px 0 10px;
}
.banner h1 .canada {
    font-size: 56px;
    font-weight: normal;
}
.banner h1 .international {
    font-size: 28px;
    font-family: 'Effra';
    font-weight: normal;
    color: rgb(20, 19, 42);
    text-align: center;
    background-color: white;
    letter-spacing: 3px;
    line-height: 30px
}

.square {
    border: 2px solid white;
    width: 30%;
    height: 22px;
    display: inline-block;
}

.signup-header h3{
    text-transform: uppercase;
    font-size: 27px;
}

.landing-text {
    color: #f6f6f6;
    font-family: 'Effra';
    font-weight: 100;
    margin-top: 60px;
    text-align:left;
}

#our-goal {
    height: 400px;
}

#our-goal .overlay {
    height: inherit;
    background-color: rgba(3, 0, 14, 0.65);
}

#our-goal h2 {
    color: #f6f6f6;
}

.goal-message {
    font-size: 20px;
    font-weight: 100;
}

.dev-header-section {
    margin: 110px 0 35px 0;
}
.dev-header-section>h3 {
    font-size: 35px;
}

.btn:hover .btn:focus {
    color: #ffffff;
}

.btn-price {
    padding: 10px 20px;
}

.btn-price:focus {
    color: white;
}

textarea {
    resize: none;
}

#footer .form-control#Message {
    padding-top:15px;
    height: 150px;
}

.form-wrapper {
    margin: 0 auto;
}

.form-button {
    padding-top: 25px;
}

#footer h3{
    font-family: 'Effra';
    font-weight: 400;
    font-size: 28px;
    color: #9e9e9f;
}

#our-goal .container
{
    padding-bottom:100px;
}

#content
{
    padding-top: 50px;
    padding-bottom: 100px;
}

#contentTitle {
    padding-top: 100px;
}

#profile
{
    padding-top: 10px;
    padding-left: 200px;
}
