.warning-file-size {
    font-size: 13px;
    margin: 10px;
}

#image-label {
    margin: 1px;
}

.button-group {
    margin-bottom: 100px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 20px 0 20px;
    padding: 5px 16px;
    font-size: 12px;
    min-height: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

textarea.form-control {
    max-width: 100%;
    max-height: 450px;
}

.fileName {
    display: inline-block;
    font-size: 17px;
    margin-left: 22px;
}

.button-group{
    margin-top: 40px;
}

.cancel_btn {
}

.update_btn {
    float: right;
}
