.content {
    padding: 40px;
    padding: 4rem;
}



.picture0 {
    background: url('../blogpicture0.jpg') no-repeat center center fixed;
    -repeat: center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    height: 400px;
    width: 100%;
    text-align: center;
    color: white;
    margin: 0 auto;
}

.picture1 {
    background: url('../blogpicture1.jpg') no-repeat center center fixed;
    -repeat: center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    height: 400px;
    width: 100%;
    text-align: center;
    color: white;
    margin: 0 auto;
}

.picture2 {
    background: url('../blogpicture2.jpg') no-repeat center center fixed;
    -repeat: center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    height: 400px;
    width: 100%;
    text-align: center;
    color: white;
    margin: 0 auto;
}

.picture3 {
    background: url('../blogpicture3.jpg') no-repeat center center fixed;
    -repeat: center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    height: 400px;
    width: 100%;
    text-align: center;
    color: white;
    margin: 0 auto;
}

.picture4 {
    background: url('../blogpicture4.jpg') no-repeat center center fixed;
    -repeat: center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    height: 400px;
    width: 100%;
    text-align: center;
    color: white;
    margin: 0 auto;
}

.tagline{
    text-align: center;
    color: white;
    padding-top: 150px;
}

#columns {
    column-width: 320px;
    column-gap: 15px;
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
}

div#columns figure {
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    transition: opacity .4s ease-in-out;
    display: inline-block;
    column-break-inside: avoid;
}

div#columns figure img {
    width: 100%; height: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

div#columns figure figcaption {
    font-size: .9rem;
    color: #444;
    line-height: 1.5;
}