#contentTitle {
    padding: 20px;
}
#contentTitle h1 {
    color: #4B4B4C;
}
#content a{
    color: #FFFFFF;
}

#content h2{
    color: #FFFFFF;
}
#content h3{
    color: #FFFFFF;
}
#content p{
    color: #4B4B4C;
}
body{
    background-color: #FFFFFF;
}
.verticalLine {
    border-left: thick solid #FFFFFF;
}
#Prepare{
    padding: 30px 5px 5px 5px;
    background-color: royalblue;
    height: 400px;

}
#Settling{
    padding: 30px 5px 5px 5px;
    background: forestgreen;
    height: 400px;

}
#Adapt{
    padding: 30px 5px 5px 5px;
    background-color: orange;
    height: 400px;

}
#bottomtxt{
    padding-top: 30px;
}
.colorfill{
    padding-left: 0px;
    padding-right: 0px;
}
.colorflow{
    border-bottom: 0px;
    margin-bottom: 0px;
}
#content{
    text-align: center;
}
p{
    padding-bottom: 0px;
}

.my_container{
    padding-bottom: 50px;
}

.row {
    margin:0px;
}