<!--Footer-->
<!-- No longer being displayed on the site -->
<footer id="footer" class="footer">



  <div id="contact-us">
    <div class="container text-center">


      <ul class="social-links">
        <!--<li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>-->
        <li><a href="https://www.facebook.com/navigatingcanada/" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
        <!--<li><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>-->
        <!--<li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>-->
      </ul>
    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-93573523-1', 'auto');
        ga('send', 'pageview');

    </script>
  </div>
</footer>
<!--/ Footer-->
